<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
{% csrf_token %}
<h1 style="align-content: center">ECE Lexicon Collector 사용법</h1>
<br>
<h3>1. 페이지 설명</h3>
<p>1번 필드에서 본인 ID, 경험저자 (author ID) 조회가 가능하다.</p>
<p>2번 필드에서 본인 진행상태 조회가 가능하다.</p>
<p>3번 필등에서 Previous 버튼을 클릭시, 이전 처리한 데이터가 조회가 되고, Next 버튼을 클릭시, 다음 처리할 데이터를 불러온다. 단, 키워드를 3개에서 5개를 선택해야합니다.</p>
<img src="{% static "tokenizer/images/Picture1.png" %}" alt="Image1" width="100%">
<h3>2. 키워드 선택</h3>
<p>Tokenized text 필드 내에서 키워드 버튼을 클릭하면 선택이 됩니다.</p>
<p>선택 취소를 원할 경우, Tokenized text필드 내에서 같은 버튼을 클릭하면 선택 취소가 됩니다.</p>
<img src="{% static "tokenizer/images/Picture2.png" %}" alt="Image1" width="100%">
<h3>3. 키워드 수정</h3>
<p>Tokenized text 필드 상단에 “Edit” 버튼을 클릭합니다.</p>
<img src="{% static "tokenizer/images/Picture3.png" %}" alt="Image1" width="100%">
<p>Edit 필드에서 text를 수정합니다.</p>
<img src="{% static "tokenizer/images/Picture4.png" %}" alt="Image1" width="100%">
<p>확인 버튼 클릭하면 edit 필드에서 수정된 글의 공백기준으로 새로운 키워드 버튼이 생성됩니다.</p>
<img src="{% static "tokenizer/images/Picture5.png" %}" alt="Image1" width="100%">
<h3>4. 키워드 초기화</h3>
<p>키워드 초기화를 원할경우, default 버튼을 클릭합니다.</p>
<img src="{% static "tokenizer/images/Picture6.png" %}" alt="Image1" width="100%">
<p>수정한 키워드들은 사라지고 초기값의 키워드들을 다시 가져옵니다.</p>
<img src="{% static "tokenizer/images/Picture7.png" %}" alt="Image1" width="100%">
</body>
</html>